.chat-list-item-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-message-content {
  font-size: 14px;
  color: #6c6c6c;
}

.last-message-status .last-message-icon {
  font-size: 1.3em;
  color: #8f26ab;
}