.chat-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input[type=submit] {
  visibility: collapse;
}

.form-input {
  display: flex;
  align-items: center;
  border: 0;
  outline: none;
  font-size: 15px;
  padding-left: 15px;
  width: calc(100% - 2px);
}