.chat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  cursor: pointer;
  padding: 0 10px;
}

.ripple {
  transition: background 0.8s;
  border-radius: 15px;
  background-position: center;
}

.ripple:hover {
  border-radius: 15px;
  background-color: #dfd0f1;
  background-image: radial-gradient(circle, transparent 1%, #dfd0f1);
  background-size: 15000%;
  background-position: center;
}

.ripple:active {
  border-radius: 15px;
  transition: background 0s;
  background-color: #efedf8;
  background-size: 100%;
}

.chat-list-item-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 0 15px;
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
}
